@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --clr-primary: #7380ec;
    --clr-start: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  *{
    margin: 0;
    padding: 0;
  }
body{
  font-family: 'poppins', sans-serif;
  height: fit-content;
}
/* nav bar starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  /* font-family: Arial, sans-serif; */
  background-color: #f4f4f4;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008DDA;
  padding: 20px 20px;
  color: white;
  /* margin-left: 0 */
}

.navbar-header h1 {
  font-size: 24px;
  margin: 0;
}

.navbar-search input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.navbar-settings span {
  padding: 5px 30px;
  /* font-size: 16px; */
  /* color: #333; */
  color: white;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
}
.navbar-settings span:hover{
  color: #504c4c
}

.navbar-settings button:hover {
  background-color: #ddd;
}
/* nav bar ends here */
header {
  padding: 30px;
  text-align: left;
  font-weight: 400;
  font-size: large-;
}
.material-symbols-outlined{
  margin-top: 2px;
}
h1{
  font-weight: 800;
  font-size: 1.8rem;
}
h2{
  font-size: 1.4rem;

}
h3{
font-size: 0.87rem;
}
h4{
  font-size: 0.8rem;
  color: var(--clr-dark-variant);
}
h5{
  font-size: 0.77rem;
}
/* top section present attaendance */
.present-attendance{
  display: flex;
  gap: 2rem;
  justify-content:space-evenly;
  margin-bottom: 2rem;
}
.section1:hover{
  box-shadow: none;
}
main .section1{
  display: grid; 
  grid-template-columns: repeat(3,1fr); 
  gap: 1.6rem;

}
.section1{
  height: 140px;
  display: grid;
  background-color: #FADF63;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}
.section2{
  display: grid; 
  grid-template-columns: repeat(3,1fr); 
  gap: 1.6rem;


  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}
.section2:hover{
  box-shadow: none;
}


.section3{
  display: grid; 
  grid-template-columns: repeat(3,1fr); 
  gap: 1.6rem;

  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}.section3:hover{
  box-shadow: none;
}
#head{
  display: grid;
}
/* top section present attaendance */
  table {
    width: 100%;
    border-collapse: collapse;
    min-width: max-content;
}
 td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    /* font-size: 1rem;; */
}
tr :hover{
  background-color: silver;
}
th {
    background-color: #008DDA;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    position: sticky;
    top: 0px;
  }
  .table-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
  }
  .outer_wrapper{
    border: 1px solid #dddddd;
    box-shadow: var(--box-shadow);
    margin: 20px;
    /* overflow-x: scroll; */
    border-radius: 5px;
  }
  .outer_wrapper:hover{
    box-shadow: none ;
    transition: all .3s ease;
  }